# {{ ansible_managed }}

[global]
pre = {{ (pip_enable_pre_releases | bool) | lower }}
timeout = {{ pip_timeout }}
{% if pip_lock_to_internal_repo and pip_links | length > 0 %}
no-index = true
trusted-host =
{% for pip_link in pip_links %}
	{{ pip_link.link | netloc_no_port }}
{% endfor %}
{% endif %}

[install]
upgrade = {{ (pip_upgrade | bool) | lower }}
{% if pip_lock_to_internal_repo and pip_links | length > 0 %}
find-links =
{% for pip_link in pip_links %}
	{{ pip_link.link }}
{% endfor %}
{% endif %}
